*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-width: 300px;
    min-height: 300px;
}

.full-bg {
    background: linear-gradient(to bottom right, #135058, #F1F2B5);
    min-height: 100%;
    height: 100%;
    position: relative;
    width: 100%;
}

.quote {
    min-height: 80%;
    height: 80%;
    position: relative;
}

.quote-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
}

h1, h2 {
    font-weight: 200;
    text-align: center;
    padding: 5px;
}

h1, h2, p {
    color: #EEE;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: lowercase;
}

ul {
    text-align: center;
    height: 10%;
}

li {
    display: inline-block;
    padding: 0 30px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}


footer p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
}

footer p a {
  text-decoration: none;
  color: inherit;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  transition: text-shadow 0.3s;
}

footer p a:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}